<div class="p-5">
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary">
      <a href="/">首頁</a>
    </button>
    <div>
      <button class="btn btn-secondary mx-2">
        <a href="/about">About</a>
      </button>

      <button class="btn btn-secondary mx-2">
        <a href="/profileInfo">ProfileInfo</a>
      </button>

      <button class="btn btn-secondary mx-2">
        <a href="/contact">Contact</a>
      </button>
    </div>
  </div>

  <div class="pt-5">
    <h1>
      {{currentPage}}
    </h1>
  </div>
</div>